.nav{
    display: flex;
    justify-content: space-evenly;
    margin-left: 800px;
    color: white;
    background-color:#363841;
    padding:10px 16px;
    position: sticky;
    top: 0%;
    
}
.nav a:hover{
    color: black;
}
.nav>a{
    text-decoration:none;
    color: aliceblue;
}
.ovblog{
    background-color:#d6dbf3 ;
}
p,h1{
    text-align: center;
}
td{
    padding: 5%;
    width: 25%;
    background-color: #b8cfe4;
}
table{
    margin: 3%;
}
img{
    width: 300px;
}