.nav{
    display: flex;
    justify-content: space-evenly;
    margin-left: 800px;
    color: white;
    background-color:#363841;
    padding:10px 16px;
    position: sticky;
    top: 0%;
    
}
.nav a:hover{
    color: black;
}
.nav>a{
    text-decoration:none;
    color: aliceblue;
}
img{
    position: relative;
    height: 100vh;
    width: 100%;
    margin-right: 20%;

}
.content{
    position: absolute;
    top: 30px;
    left:300px;
}
.content{
    color: #53BDEB;
    text-align: center;
    height:80vh;
    padding-top: 10%;
    font-size: xx-large;
    
}
.links{
    position: absolute;
    top:300px;
    right: 0px;
    right: 5%   ;
}
dd>a{   
    text-decoration: none;
}
.overall{
    position: relative;
}